<div class="cart-summary-div">
  <span>Your cart: </span>
  <span *ngIf="cart.numProducts > 0; else EmptyText">
    {{cart.numProducts}} item{{cart.numProducts>1 ? 's' : ''}} {{cart.totalAmount | currency}}
  </span>
  <ng-template #EmptyText><span>(empty)</span></ng-template>
  <button mat-icon-button
    [disabled]="cart.numProducts < 1"
    routerLink="/cart">
    <!-- Note: routerLink requires RouterModule to be imported by Module -->
    <mat-icon>shopping_cart</mat-icon>
  </button>
</div>