.mat-drawer {
    min-width: 150px;
}

.mat-drawer-content {
    height: calc(100vh - 64px);
}

.product-card {
    margin: 5px;
}

.mat-card-header__price {
    margin: auto 0 auto auto;
}

.page-settings {
    margin: 15px 5px 5px 5px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.page-settings button {
    min-width: 35px;
}

.page-settings button:first-of-type {
    margin-left: auto;
}

.mat-list-item--selected {
    color: #ff4081;
}

.header-div {
    display: flex;
    align-items: center;
    width: 100%;
}

.header-div app-cart-summary {
    margin-left: auto;
}