<mat-drawer-container>
  <mat-drawer opened mode="side" disableClose>
    <mat-nav-list>
      <a mat-list-item href="#"> Home </a>
      <a mat-list-item href="#" *ngFor="let category of getCategories()">
        {{ category }}
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar><span>Products</span></mat-toolbar>
    <mat-card class="product-card" *ngFor="let product of getProducts()">
      <mat-card-header>
        <mat-card-title>
          <h3>
            {{ product.name }}
          </h3>
        </mat-card-title>
        <mat-chip-list class="mat-card-header__price" >
          <mat-chip color="primary" selected disabled>
            {{ product.price | currency: "USD":"symbol":"2.2-2" }}
          </mat-chip>
        </mat-chip-list>
      </mat-card-header>
      <mat-card-content>
        <p>{{ product.description }}</p>          
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
