.mat-drawer {
    min-width: 150px;
}

.mat-drawer-content {
    height: calc(100vh - 64px);
}

.product-card {
    margin: 5px;
}

.mat-card-header__price {
    margin: auto 0 auto auto;
}

.page-settings {
    margin: 15px 5px 5px 5px;
    padding: 5px;
}

.page-settings button {
    min-width: 35px;
}

.page-settings button:first-of-type {
    margin-left: auto;
}

.mat-list-item--selected {
    color: #ff4081;
}

mat-card-content {
    margin: 10px 8px;
}

.flex-row {
    display: flex;
    width: inherit;
    align-items: center;
}

.flex-row__float-right {
    margin-left: auto;
}

.side-drawer {
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.side-drawer button {
    margin-top: 20px;
}