<div class="product-form-container">
  <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
    <div class="product-form">
      <!-- Name -->
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required [(ngModel)]="product.name">
        <mat-error *ngIf="this.productForm.controls.name.invalid">{{getErrorMessage(this.productForm.controls.name)}}</mat-error>
      </mat-form-field>
  
      <!-- Category -->
      <mat-form-field>
        <mat-label>Category</mat-label>
        <input matInput formControlName="category" required [(ngModel)]="product.category">
        <mat-error *ngIf="this.productForm.controls.category.invalid">{{getErrorMessage(this.productForm.controls.category)}}</mat-error>
      </mat-form-field>
  
      <!-- Description -->
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" [(ngModel)]="product.description"></textarea>
      </mat-form-field>
  
      <!-- Price -->
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input type="number" step="0.01" matInput formControlName="price" required [(ngModel)]="product.price">
        <mat-error *ngIf="this.productForm.controls.price.invalid">{{getErrorMessage(this.productForm.controls.price)}}</mat-error>
      </mat-form-field>
  
      <div class='form-buttons-area'>
        <button mat-raised-button color="" routerLink="/admin/main/products">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!productForm.valid">{{editing ? 'Save' : 'Create'}}</button>
      </div>
    </div>
  </form>
</div>